@mixin crossPropMaker($prop, $val, $default) {
  -webkit-#{$prop} : $val;
  -moz-#{$prop} : $val;
  -o-#{$prop} : $val;
  @if $default {
    #{$prop} : $val;
  }
}

@mixin font-face($name, $filename, $style, $weight) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$filename}.eot');
    src: url('#{$filename}.eot?#iefix') format('embedded-opentype'),
         url('#{$filename}.woff') format('woff'),
         url('#{$filename}.woff2') format('woff2'),
         url('#{$filename}.ttf') format('truetype');
  }
}