/**
 * Mixins
 */
@mixin crossPropMaker($prop, $val, $default) {
  -webkit-#{$prop} : $val;
  -moz-#{$prop} : $val;
  -o-#{$prop} : $val;
  @if $default {
    #{$prop} : $val;
  }
}

@mixin font-face($name, $filename, $style, $weight) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$filename}.eot');
    src: url('#{$filename}.eot?#iefix') format('embedded-opentype'),
         url('#{$filename}.woff') format('woff'),
         url('#{$filename}.woff2') format('woff2'),
         url('#{$filename}.ttf') format('truetype');
  }
}

@mixin spacer($height) {
  .spacer#{$height} {
    display: block;
    width: 100%;
    font-size: 0;
    padding: 0;
    margin: 0;
    border: 0;
    height: #{$height}px;
  }
}

/**
 * Social icons
 */
.facebook-highlight:hover, .facebook-filled {
  color: #3b5998;
}
.twitter-highlight:hover, .twitter-filled {
  color: #1da1f2;
}
.linkedin-highlight:hover, .linkedin-filled {
  color: #0077b5;
}
.telegram-highlight:hover, .telegram-filled {
  color: #0088cc;
}
.instagram-highlight:hover {
  background: linear-gradient(224.65793970864146deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**
 * Gradients
 */
.gradient-blue-green {
  background: $g-blue-green;
}
.gradient-red-yellow {
  background: $g-red-yellow;
}
.gradient-yellow-green {
  background: $g-yellow-green;
}
.gradient-blue-red {
  background: $g-blue-red;
}