// Font Types
$title-font: 'Open Sans', IranSans, sans-serif;
$subtitle-font: Lato, IranYekan, sans-serif;
$body-font: Lato, IranYekan, sans-serif;

// Font Sizes
//$huge-font
$head1: 3.6rem #{"/*rtl:3.6rem*/"};
//$large-font
$head2: 2.4rem #{"/*rtl:2.4rem*/"};
$head3: 2rem;
//$mid-font
$head4: 1.8rem;
//$small-font:
$body: 1.6rem;
$sub: 1.4rem;

// Font Weights
$bold: 800;
$regular: 400;
$thin: 200;

//New Branding
$newblue: #5a7fc0;
$newgreen: #46bea9;
$newyellow: #f5cc56;
$newred: #ee6062;

// Taskulu Colors
$cyan: #04a9f4;
$light-orange: #f59331;
$light-green: #5dc1ac;
$dark-blue: #244190;
$red: #ee4a4d;

// Flat Ui Colors
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #f6f8f9;
$trans-white: rgba(255, 255, 255, .5);
$white: #ffffff;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// Shadows
$default-shadow: 0 20px 30px 0 rgba(36,50,66,.14);
$bold-shadow: 0 20px 30px 0 rgba(36,50,66,.28);

// Transitions
$default-transition: all .3s ease;
$quick-transition: all .1s ease;

//Media queries for single segments
//extra small devices (used to be $mobile)
$xsonly: '(max-width: 575px)';
//small devices and landscape mobile ($tablet)
$smonly: '(min-width: 576px) and (max-width: 767px)';
//tablets
$mdonly: '(min-width: 768px) and (max-width: 991px)';
//desktops (used to be $desktop and max-width was 1024px)
$lgonly: '(min-width: 992px) and (max-width: 1199px)';
//large desktops ($large-desktop)
$xlonly: '(min-width: 1200px)';

//Media queries for max sizes
$smview: '(max-width: 767px)';
$mdview: '(max-width: 991px)';
$lgview: '(max-width: 1199px)';
