// Font Types
$title-font: 'Archivo Black', sans-serif;
$subtitle-font: 'Nunito', sans-serif;
$body-font: 'Rajdhani', sans-serif;

// Font Sizes
$huge-font: 1.5rem;
$large-font: 1.3em;
$mid-font: .9rem;
$small-font: .7rem;

// Font Weights
$bold: 800;
$regular: 400;
$thin: 200;
