.button {
  padding: .8rem 2rem !important;
  border-radius: 3rem !important;
  border: none !important;
  font-family: $subtitle-font;
  font-size: $small-font !important;
}
.button-normal {
  color: #fff !important;
  background: $cyan !important;
}
.button-submit {
  color: #fff !important;
  background: $emerald !important;
}