.button {
  position: relative;
  display: inline-block;
  padding: .7rem 2rem;
  border-radius: 6px;
  border: none;
  font-family: $subtitle-font;
  font-size: $body;
  text-align: center;
  line-height: 1.4;
  box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.06);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-decoration: none;
  cursor: pointer;
  @include crossPropMaker(user-select, none, true);
  &--besides {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &--bordered {
    border: 3px solid $wet-asphalt;
  }
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
  }
}
.button-filter {
  background: $san-marino;
  margin: 10px 0;
  min-width: 80%;
  padding: 20px;
}
.block-cta .button {
  padding: 13px 26px;
  font-weight: 900;
  font-size: 1.8rem;
}
@include buttonColorGenerator('normal', #fff, $cyan, null, null);
@include buttonColorGenerator('submit', $wet-asphalt, $golden-road, $golden-road, $wet-asphalt);
@include buttonColorGenerator('white', $cyan, #fff, #fff, $cyan);
@include buttonColorGenerator('blue', #fff, $san-marino, $san-marino, #fff);
@include buttonColorGenerator('dark', #fff, $wet-asphalt, $wet-asphalt, #fff);
@include buttonColorGenerator('light', $wet-asphalt, #fff, #fff, $wet-asphalt);

@media #{$xsonly} {
  .button-filter {
    margin: 6px 0;
  }
}
