.compcards {
  margin: 5rem 0;
  .compcards-content {
    text-align: right;
  }
  .compcards-card {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    background-clip: border-box;
    flex-direction: column;
    word-wrap: break-word;
    box-shadow: $default-shadow;
    flex-wrap: wrap;
    height: 5rem;
  }
}