//*********************
// One Click Regiter form
//*********************
.goregister {
  position: relative;
  /*rtl:ignore*/
  direction: ltr;
  max-width: 35rem;
  margin: 0 auto;
  border-radius: 6px;
  /*rtl:ignore*/
  text-align: left;
  background-color: $white;
  box-shadow: 0 8px 15px 0 rgba(36,50,66,.5);
  input {
    padding: 1.2rem 2rem;
    border: 0;
    background: none;
    /*rtl:ignore*/
    text-align: left;
    width: 70%;
    min-height: 4.6rem;
    color: $wet-asphalt;
    font-family: $subtitle-font;
    font-size: $body;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .button {
    position: absolute;
    /*rtl:ignore*/
    right: .4rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

//*********************
// Form container
//*********************
.form-wrapper {
  max-width: 600px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 40px auto;
}
.form-banner {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.form-footer {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-title {
  font-family: $title-font;
  font-size: 1.6rem;
  line-height: 2.5;
}
.form-subtitle {
  font-family: $title-font;
  font-size: 1.2 rem;
  line-height: 2;
}
//*********************
// Mautic Forms
//*********************
.mauticform_wrapper {
  width: 90%;
  margin: 10px auto;
  font-family: $subtitle-font;
}
.mauticform-error, .mauticform-message {
  margin-bottom: 10px;
}
.double-divided .hasBackground {
  & .mauticform-error, & .mauticform-errormsg {
    color: $golden-road;
  }
  & .mauticform-button {
    color: $shamrock;
  }
  & .mauticform-input:focus, & .mauticform-selectbox:focus, & .mauticform-textarea:focus {
    outline: none;
    border-bottom-color: #a2a2a2;
  }
  option {
    color: #313131;
  }
  & .form-banner {
    color: $shamrock;
  }
}
.mauticform-message {
  color: $shamrock;
  text-align: center;
  font-size: 2rem;
  font-family: $title-font;
}
.mauticform-errormsg {
    display: block;
    color: $mandy;
    margin-top: 2px;
    font-size: 1.2rem;
}
.mauticform-row {
    display: block;
    margin-bottom: 20px;
}
.mauticform-button-wrapper {
  text-align: center;
}
.mauticform-button {
  color: $shamrock;
  font-size: 2.4rem;
  border-radius: 3rem;
  border: none;
  padding: 0.7rem 2rem;
}
.mauticform-selectbox, .mauticform-input, .mauticform-textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #CCC;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background: transparent;
  box-sizing: border-box;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  }
