/*rtl:begin:ignore*/
.goregister {
  position: relative;
  max-width: 35rem;
  margin: 0 auto;
  border-radius: 3rem;
  text-align: left;
  background-color: $wet-asphalt;
  box-shadow: 0 8px 15px 0 rgba(36,50,66,.5);
  input {
    padding: 1.4rem 2rem;
    border: 0;
    background: none;
    /*rlt:ignore*/
    text-align: left;
    width: 70%;
    color: #fff;
    font-family: $subtitle-font;
    font-size: $small-font;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .button {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
/*rtl:end:ignore*/