.goregister {
  position: relative;
  max-width: 20rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  background-color: $wet-asphalt;
  text-align: left;
  box-shadow: 0 8px 15px 0 rgba(36,50,66,.5);
  input {
    padding: .9rem .5rem;
    border: 0;
    margin: 0 .5rem;
    background: none;
    width: 70%;
    color: #fff;
    font-size: $mid-font;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .button {
    position: absolute;
    right: .3rem;
    top: 50%;
    transform: translateY(-50%);
  }
}