.footer {
  background: #000;
  .footer-row {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: left;
    color: #fff;
    font-family: $subtitle-font;
    font-size: $body;
    .footer-list {
      flex: 1 1 auto;
      padding: 0;
      /*rtl:raw:
      margin-right: 0;
      margin-left: 14px;
      */
      margin-bottom: 40px;
      .footer-list-item {
        padding-left: 5px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: $body;
          transition: $default-transition;
          &:hover {
            color: $cyan;
          }
        }
        &:first-child {
          font-family: $body-font;
          font-size: $head3;
          color: $asbestos;
        }
      }
    }
    .footer-social-icon {
      display: inline-block;
      color: #fff;
      line-height: 1;
      font-size: 2.8rem;
      margin-top: 12px;
      margin-right: 10px;
      cursor: pointer;
    }
    .footer-download {
      display: inline-flex;
      justify-content: flex-end;
      .footer-download-app {
        display: inline-block;
        margin-right: 10px;
        img {
          width: 120px;
          margin: 0;
        }
      }
    }
  }
  .footer-end {
    padding: 15px 70px;
    background: $sun-flower;
    color: #3f3f3f;
    font-family: $subtitle-font;
    font-size: $body;
    a {
      text-decoration: none;
      color: #3f3f3f;
      &:hover {
        border-bottom: 2px solid #3f3f3f;
      }
    }
    *:nth-child(n+2) {
      margin-left: 2rem;
    }
  }
}

/**
 * Responsive styles
 */
@media #{$lgonly} {
  .footer .footer-row {
    padding: 5rem 8rem 3rem;
  }
}

@media #{$smonly} {
  .footer .footer-end {
    justify-content: center;
  }
}

@media #{$xsonly} {
  .footer .footer-row {
    .footer-list {
      flex: 1 1 45%;
      margin-left: 0;
      .footer-list-item {
        a {
          font-size: 2rem;
        }
        &:first-child {
          font-size: 2.5rem;
        }
      }
    }
    .footer-download {
      justify-content: flex-start;
      margin-top: 20px;
    }
  }
  .footer .footer-end {
    padding: 1.5rem 2rem;
    justify-content: center;
  }
}
