.header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
  z-index: 200;
  background: #fff;
  .header-logo-wrapper {
    flex: 1;
    text-align: left;
  }
  .header-logo {
    max-width: 16rem;
    max-height: 4rem;
    margin: 0;
    z-index: 100;
  }
}