.header-row {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 1rem;
  align-items: center;
  z-index: 200;
  background: #fff;
  .header-logo-wrapper {
    text-align: left;
  }
  .header-logo {
    max-width: 16rem;
    max-height: 4rem;
    margin: 0;
    z-index: 100;
  }
}