.siteHeader {
  width: 100%;
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  padding: .5rem 0;
  a {
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;
  }
}

